$primary_color: #317ae1;
$outline_color: #e3e3e9;

@media (max-width: 713px) {
  .pagination {
    ul {
      width: 48em;
      margin-left: 3em;
      display: flex;
      list-style-type: none;
      justify-content: space-evenly;
      align-items: center;
      border: 1px solid $outline_color;
      button {
        background-color: #fff;
        border: none;
        outline: none;
        span {
          color: $primary_color;
          font-size: 2em;
        }
      }
    }
    .numbers {
      padding-top: 0.2em;
    }
    a {
      text-decoration: none;
      padding: 0.2em;
      color: #3e3838;
      font-size: 1.2em;
    }
    .page_numbers {
      padding-top: 0.3em;
    }
    #empty_state {
      padding: 6em 0;
      color: #aeaeb3;
      font-size: 1.5em;
    }
  }
}

@media (min-width: 714px) and (max-width: 787px) {
  .pagination {
    margin: 0 10em;
    ul {
      width: 29em;
      display: flex;
      list-style-type: none;
      justify-content: space-evenly;
      align-items: center;
      border: 1px solid $outline_color;
      button {
        background-color: #fff;
        border: none;
        outline: none;
        span {
          color: $primary_color;
          font-size: 2em;
        }
      }
    }
    .numbers {
      padding-top: 0.2em;
    }
    a {
      text-decoration: none;
      padding: 0.2em;
      color: #3e3838;
      font-size: 1.2em;
    }
    .page_numbers {
      padding-top: 0.3em;
    }
    #empty_state {
      padding: 6em 0;
      color: #aeaeb3;
      font-size: 1.5em;
    }
  }
}
@media (min-width: 788px) {
  .pagination {
    margin: 0 10em;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-evenly;
      align-items: center;
      border: 1px solid $outline_color;
      button {
        background-color: #fff;
        border: none;
        outline: none;
        span {
          color: $primary_color;
          font-size: 2em;
        }
      }
    }
    .numbers {
      padding-top: 0.2em;
    }
    a {
      text-decoration: none;
      padding: 0.2em;
      color: #3e3838;
      font-size: 1.2em;
    }
    .page_numbers {
      padding-top: 0.3em;
    }
    #empty_state {
      padding: 6em 0;
      color: #aeaeb3;
      font-size: 1.5em;
    }
  }
}
