$primary_color: #4490fb;
$secondary_color: #ffffff;
$outline_color: #d0cdcd;
$text_color: #151414b3;

@media (max-width: 714px) {
  .toast_container {
    background-color: #444;
    color: $secondary_color;
    padding: 1em;
    position: absolute;
    right: 1em;
    z-index: 999;
    transition: top 0.5s ease;
  }
  .form_container {
    form {
      margin: 2em 2em;
      border: 1px solid $outline_color;
      padding: 1em;
      width: 50em;
      h2 {
        font-weight: 400;
        padding: 0.5em 0;
        border-bottom: 1px solid $outline_color;
      }
      h3 {
        font-weight: 400;
        padding-bottom: 1em;
        border-bottom: 1px solid $outline_color;
        margin-bottom: 1.2em;
      }
    }
  }
  .dropdown_container {
    p {
      padding: 0.5em 0;
      color: $text_color;
    }
    select {
      outline: 1px solid #969696;
    }
  }
  .input_field_container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 2em;
    .required_fields {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
    }
    input {
      width: 20em;
      padding: 0.6em 0.2em;
      outline: 1px solid #000000c4;
    }
    small {
      color: #ff0000;
    }
    p {
      padding-bottom: 1em;
      color: $text_color;
    }
    .warning {
      color: red;
    }
  }
  .border_bottom {
    border-bottom: 1px solid $outline_color;
  }
  .send_and_cancel_buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
  }
}
@media (min-width: 715px) and (max-width: 927px) {
  .toast_container {
    background-color: #444;
    color: $secondary_color;
    padding: 1em;
    position: absolute;
    right: 1em;
    z-index: 999;
    transition: top 0.5s ease;
  }
  .form_container {
    margin-top: 10em;
    form {
      margin: 2em 10em;
      border: 1px solid $outline_color;
      padding: 1em;
      h2 {
        font-weight: 400;
        padding: 0.5em 0;
        border-bottom: 1px solid $outline_color;
      }
      h3 {
        font-weight: 400;
        padding-bottom: 1em;
        border-bottom: 1px solid $outline_color;
        margin-bottom: 1.2em;
      }
    }
  }
  .dropdown_container {
    p {
      padding: 0.5em 0;
      color: $text_color;
    }
  }
  .input_field_container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 2em;
    .required_fields {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
    }
    input {
      width: 20em;
      padding: 0.6em 0.2em;
    }
    small {
      color: #ff0000;
    }
    p {
      padding-bottom: 1em;
      color: $text_color;
    }
    .warning {
      color: red;
    }
  }
  .border_bottom {
    border-bottom: 1px solid $outline_color;
  }
  .send_and_cancel_buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
  }
}
@media (min-width: 928px) {
  .toast_container {
    background-color: #444;
    color: $secondary_color;
    padding: 1em;
    position: absolute;
    right: 1em;
    z-index: 999;
    transition: top 0.5s ease;
  }
  .form_container {
    margin-top: 10em;
    form {
      margin: 2em 10em;
      border: 1px solid $outline_color;
      padding: 1em;
      h2 {
        font-weight: 400;
        padding: 0.5em 0;
        border-bottom: 1px solid $outline_color;
      }
      h3 {
        font-weight: 400;
        padding-bottom: 1em;
        border-bottom: 1px solid $outline_color;
        margin-bottom: 1.2em;
      }
    }
  }
  .dropdown_container {
    p {
      padding: 0.5em 0;
      color: $text_color;
    }
  }
  .input_field_container {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 2em;
    .required_fields {
      display: flex;
      flex-direction: column;
    }
    input {
      width: 20em;
      padding: 0.6em 0.2em;
    }
    small {
      color: #ff0000;
    }
    p {
      padding-bottom: 1em;
      color: $text_color;
    }
    .warning {
      color: red;
    }
  }
  .border_bottom {
    border-bottom: 1px solid $outline_color;
  }
  .send_and_cancel_buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
  }
}
