$primary_color: #4490fb;
@media (min-width: 361px) {
  input[type="text"] {
    border: 1px solid #ccc;
    outline: none;
    width: 20em;
    transition: 0.2s;
    padding: 0.5em;

    &:focus {
      border: 1px solid $primary_color;
    }
  }
}
