$primary_color: #4490fb;
$secondary_color: #ffffff;
$danger_color: #ff0000;
$outline_color: #d0cdcd;
.btn {
  font-weight: 550;
  border-radius: 0.2em;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  padding: 0.5em 1em;
}
.button_primary {
  background-color: $primary_color;
  color: $secondary_color;
}
.modal_primary {
  background-color: $primary_color;
  color: $secondary_color;
  padding: 0.5em 1em;
  margin: 0 0.5em;
}
.button_secondary {
  background-color: $secondary_color;
  border: 1px solid $outline_color;
}
.modal_secondary {
  background-color: $secondary_color;
  padding: 0.5em 1em;
  border: 1px solid #b1a5a5;
  margin: 0 0.5em;
}
.clear{
  background-color: $secondary_color;
  padding: 0.3em 0.3em;
  outline: none;
  font-weight: 300;
  border: 1px solid $danger_color;
  &:hover{
    background-color: $danger_color;
    color: #ffffff;
  }
}
