$primary_color: #4490fb;
$secondary_color: #ffffff;

@media (max-width: 360px) {
  .title_container {
    display: flex;
    flex-direction: column;
    margin: 3em 1em;
    justify-content: space-between;

    h2 {
      font-weight: 500;
      color: #676a71;
      margin-bottom: 1em;
      margin-left: 2em;
    }

    .input_container {
      display: flex;
      justify-content: space-between;
      width: 48em;
      margin-left: 2em;

      .search_campaigns_container {
        display: flex;
        background-color: $primary_color;
      }

      img {
        width: 2.8em;
        padding: 0.5em 0.8em;
      }
    }
  }
  .modal_container {
    margin: 1.5em;
    .modal_header {
      padding: 1.5em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        font-weight: 500;
      }
    }
    #warning {
      color: #ff0000;
    }
    h4 {
      font-weight: 400;
    }
    #name {
      margin-bottom: 0.5em;
    }
    .user_name_container {
      display: flex;
      flex-direction: column;
      small {
        color: #ff0000;
      }
      input[type="text"] {
        width: 38em;
        padding: 0.8em 0.5em;
      }
      input[type="text"]:focus {
        border: 1px solid $primary_color;
      }
    }
    .modal_buttons {
      margin-top: 4em;
      display: flex;
      justify-content: flex-end;
    }
  }
}
@media (max-width: 713px) and (min-width: 361px) {
  .title_container {
    display: flex;
    flex-direction: column;
    margin: 3em 3em;
    justify-content: space-between;

    h2 {
      font-weight: 500;
      color: #676a71;
    }

    .input_container {
      display: flex;
      justify-content: space-between;
      width: 30em;

      .search_campaigns_container {
        display: flex;
        background-color: $primary_color;
      }

      img {
        width: 2.8em;
        padding: 0.5em 0.8em;
      }
    }
  }
  .modal_container {
    margin: 1.5em;
    .modal_header {
      padding: 1.5em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        font-weight: 500;
      }
    }
    #warning {
      color: #ff0000;
    }
    h4 {
      font-weight: 400;
    }
    #name {
      margin-bottom: 0.5em;
    }
    .user_name_container {
      display: flex;
      flex-direction: column;
      small {
        color: #ff0000;
      }
      input[type="text"] {
        width: 38em;
        padding: 0.8em 0.5em;
      }
      input[type="text"]:focus {
        border: 1px solid $primary_color;
      }
    }
    .modal_buttons {
      margin-top: 4em;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 901px) and (min-width: 714px) {
  .title_container {
    margin: 3em 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10em;

    h2 {
      font-weight: 500;
      color: #676a71;
    }

    .input_container {
      display: flex;
      justify-content: space-between;
      width: 30em;

      .search_campaigns_container {
        display: flex;
        background-color: $primary_color;
      }

      img {
        width: 2.8em;
        padding: 0.5em 0.8em;
      }
    }
  }
  .modal_container {
    margin: 1.5em;
    .modal_header {
      padding: 1.5em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        font-weight: 500;
      }
    }
    #warning {
      color: #ff0000;
    }
    h4 {
      font-weight: 400;
    }
    #name {
      margin-bottom: 0.5em;
    }
    .user_name_container {
      display: flex;
      flex-direction: column;
      small {
        color: #ff0000;
      }
      input[type="text"] {
        width: 38em;
        padding: 0.8em 0.5em;
      }
      input[type="text"]:focus {
        border: 1px solid $primary_color;
      }
    }
    .modal_buttons {
      margin-top: 4em;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (min-width: 902px) {
  .title_container {
    margin: 3em 10em;
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
    h2 {
      font-weight: 500;
      color: #676a71;
    }

    .input_container {
      display: flex;
      justify-content: space-between;
      width: 33em;

      .search_campaigns_container {
        display: flex;
        background-color: $primary_color;
      }

      img {
        width: 2.8em;
        padding: 0.5em 0.8em;
      }
    }
  }
  .modal_container {
    margin: 1.5em;
    .modal_header {
      padding: 1.5em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        font-weight: 500;
      }
    }
    #warning {
      color: #ff0000;
    }
    h4 {
      font-weight: 400;
    }
    #name {
      margin-bottom: 0.5em;
    }
    .user_name_container {
      display: flex;
      flex-direction: column;
      small {
        color: #ff0000;
      }
      input[type="text"] {
        width: 38em;
        padding: 0.8em 0.5em;
      }
      input[type="text"]:focus {
        border: 1px solid $primary_color;
      }
    }
    .modal_buttons {
      margin-top: 4em;
      display: flex;
      justify-content: flex-end;
    }
  }
}
