$primary_color: #317ae1;
$outline_color: #e3e3e9;
$secondary_color: #ffffff;

@media (max-width: 713px) {
  .toast_container {
    background-color: #444;
    color: white;
    padding: 1em;
    position: absolute;
    right: 1em;
    z-index: 999;
    transition: top 0.5s ease;
  }
  .list_each_campaign {
    width: 100%;
    display: table-cell;
    border-collapse: collapse;
    padding-left: 3em;
    border-top: none;
    border-bottom: none;
  }
  th,
  td {
    border: 1px solid $outline_color;
    border-collapse: collapse;
    padding: 1em 2.9em;
  }
  th {
    text-align: left;
    font-weight: 500;
  }
  td {
    img {
      width: 0.8em;
      margin: 0 0.4em;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .tooltip {
    position: relative;
    display: inline-block;
    .tooltiptext {
      visibility: hidden;
      background-color: rgb(53, 45, 45);
      width: 10em;
      color: #fff;
      text-align: center;
      border-radius: 1em;
      padding: 1em 1em;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -2em;
    }
    &:hover .tooltiptext {
      visibility: visible;
    }
  }

  #campaign_name {
    color: $primary_color;
  }
  #status {
    background-color: #29ad64eb;
    padding: 0.5em 1.2em;
    border-radius: 1em;
    color: $secondary_color;
    width: fit-content;
  }
  .modal {
    h3 {
      margin-top: 2em;
      text-align: center;
    }
  }
  .delete_option {
    display: flex;
    justify-content: space-around;
    margin-top: 7em;
  }
  .delete_buttons {
    width: 8em;
    padding: 0.8em;
    background-color: $primary_color;
    color: #ffffff;
    outline: none;
    border: none;
  }
}

@media (min-width: 714px) {
  .toast_container {
    background-color: #444;
    color: white;
    padding: 1em;
    position: absolute;
    right: 1em;
    z-index: 999;
    transition: top 0.5s ease;
  }
  .campaigns_table_container {
    margin: 0 10em;
  }
  .list_each_campaign {
    width: 100%;
  }
  .list_each_campaign,
  th,
  td {
    border: 1px solid $outline_color;
    border-collapse: collapse;
    padding: 1em;
  }
  th {
    text-align: left;
    font-weight: 500;
  }
  td {
    img {
      width: 0.8em;
      margin: 0 0.4em;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .tooltip {
    position: relative;
    display: inline-block;
    .tooltiptext {
      visibility: hidden;
      background-color: rgb(53, 45, 45);
      width: 10em;
      color: #fff;
      text-align: center;
      border-radius: 1em;
      padding: 1em 1em;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -2em;
    }
    &:hover .tooltiptext {
      visibility: visible;
    }
  }

  #campaign_name {
    color: $primary_color;
  }
  #status {
    background-color: #29ad64eb;
    padding: 0.5em 1.2em;
    border-radius: 1em;
    color: $secondary_color;
    width: fit-content;
  }
  .modal {
    h3 {
      margin-top: 2em;
      text-align: center;
    }
  }
  .delete_option {
    display: flex;
    justify-content: space-around;
    margin-top: 7em;
  }
  .delete_buttons {
    width: 8em;
    padding: 0.8em;
    background-color: $primary_color;
    color: #ffffff;
    outline: none;
    border: none;
  }
}
