$primary_color: #4490fb;
$outline_color: #d7d7d8;

@media (max-width: 713px) {
  .nav_tabs {
    ul {
      padding: 0;
      nav {
        display: flex;
        list-style-type: none;
        margin-top: 3em;
        margin-left: 3em;
        margin-bottom: 1em;
        padding: 0;
        border-bottom: 1px solid $outline_color;
        width: 48em;
        li {
          font-size: 1.1em;
        }
        a {
          margin-right: 1em;
          text-decoration: none;
          color: $primary_color;
          padding-bottom: 0.7em;
        }
      }
    }
  }
}

@media (min-width: 714px) {
  .nav_tabs {
    ul {
      padding: 0;
      nav {
        display: flex;
        list-style-type: none;
        margin: 3em 10em;
        margin-bottom: 1em;
        padding: 0;
        border-bottom: 1px solid $outline_color;
        li {
          font-size: 1.1em;
        }
        a {
          margin-right: 1em;
          text-decoration: none;
          color: $primary_color;
          padding-bottom: 0.7em;
        }
      }
    }
  }
}
