$text_color: #676a71;
$outline_color: #d7d7d8;

@media (max-width: 740px) {
  .dashboard_container {
    margin: 3em 5em;
    width: 45em;
    .dashboard_title {
      font-weight: 380;
      color: $text_color;
      width: 10em;
    }
    .date {
      font-weight: 400;
      color: #000000;
      border-bottom: 1px solid $outline_color;
      line-height: 0.1em;
      margin: 1.5em 0;
      span {
        background: #fff;
        margin-left: 2em;
        padding: 0 0.5em;
      }
    }
    li {
      border: 1px solid $outline_color;
      list-style-type: none;
      padding: 1em;
      span {
        padding: 0 0.5em;
      }
      .time {
        background-color: #ffff009c;
      }
    }
  }
}
@media (min-width: 741px) {
  .dashboard_container {
    margin: 3em 15em;
    .dashboard_title {
      font-weight: 380;
      color: $text_color;
      margin-top: 6em;
    }
    .date {
      font-weight: 400;
      color: #000000;
      border-bottom: 1px solid $outline_color;
      line-height: 0.1em;
      margin: 1.5em 0;
      span {
        background: #fff;
        margin-left: 2em;
        padding: 0 0.5em;
      }
    }
    li {
      border: 1px solid $outline_color;
      list-style-type: none;
      padding: 1em;
      span {
        padding: 0 0.5em;
      }
      .time {
        background-color: #ffff009c;
      }
    }
  }
}
