$primary_color: #317ae1;
$secondary_color: #ffffff;

@media (max-width: 713px) {
  .header {
    background-color: $primary_color;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    width: 55em;
    img {
      display: inline-block;
      padding: 0.2em 0;
    }
    h2 {
      color: $secondary_color;
    }
  }
  .nav_link_desktop {
    display: none;
  }
}
@media (min-width: 714px) {
  .header {
    background-color: $primary_color;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    img {
      display: none;
    }
    h2 {
      color: white;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      .navbar_link_active {
        border-bottom: 2px solid $secondary_color;
      }
    }
    li {
      list-style-type: none;
      color: $secondary_color;
      font-size: 1.3em;
      padding-bottom: 0.6em;
      width: 7em;
      text-align: center;
    }
    a {
      text-decoration: none;
    }
  }
}
