.tooltip {
  position: relative;
  display: inline-block;
  .tooltiptext {
    visibility: hidden;
    background-color: rgb(53, 45, 45);
    width: 10em;
    color: #fff;
    text-align: center;
    border-radius: 1em;
    padding: 1em 1em;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -2em;
  }
  &:hover .tooltiptext {
    visibility: visible;
  }
}
